
Django
Pillow
whitenoise
gunicorn
django-environ
psycopg2-binary


# Optional: pin any other packages your project needs. To create exact list from
# your environment run: `pip freeze > requirements.txt` and review the output.


