<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Forgot Password</h2>
    <form method="post">
        {% csrf_token %}
         <label for="phone" class="fw-semibold">Phone*</label>
        <input type="text" name="phone" placeholder="Enter your phone" class="form-control" required>
        <button type="submit" class="btn btn-primary mt-3">Send Reset link</button>
    </form>
</body>

</html> -->