{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset_password</title>
</head>
<body>
    <h2>Password Reset</h2>
<form method="post">
    {% csrf_token %}
    <input type="password" name="password" required placeholder="Enter new password" class="form-control mb-3">
    <button type="submit" class="btn btn-primary">Update password</button>
</form>

</body>
</html> {% endcomment %}